.btn {
    display: inline-block;
    margin-bottom: 20px;
    padding: 10px 15px;
    background-color: #3498db;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;

}
body{
    background-color: rgb(123, 123, 236);
}
a{
    
    background-color: black;
    color: aliceblue;
    padding: 2%;
    border-radius: 4px;
    font-size: 120%;
    text-decoration: none;
}
.my-form {
    max-width: 400px;
    background-color: gray;
    margin: 0 auto;
    border: 1px solid #ddd;
    padding: 25px;
    border-radius: 5px;
    box-shadow: 3px 3px 8px 9px black
}

.form-group {
    margin-bottom: 15px;
}

.form-control {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.btn-primary {
    background-color: #2ecc71;
}

.btn-primary:hover {
    background-color: #27ae60;
}

.btn-secondary {
    background-color: #e74c3c;
}

.btn-secondary:hover {
    background-color: #c0392b;
}

/* estilos para index */
li{
    width: 60%;
    padding: 1%;
    border-radius: 10px;
    list-style: none;
    margin-top: 4%;
    background-color: #3c3d3e;
    
}

p{
    font-family: sans-serif;
    color: #fff;
    font-weight: bold;
    font-size: 30px;
}


h6{
    color: #fff;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 10px;
}